@model TransactionViewModel

<div class="col">
    <form method="post" asp-controller="transactions" asp-action="search">
        <div class="row">
            <div class="col-3">
                <label asp-for="CashierName"></label>
                <input asp-for="CashierName" type="text" class="form-control" />
            </div>
            <div class="col-5">
                <label asp-for="StartDate"></label>
                <input asp-for="StartDate" type="datetime" class="form-control" />
            </div>
            <div class="col-5">
                <label asp-for="EndDate"></label>
                <input asp-for="EndDate" type="datetime" class="form-control" />
            </div>
            <div class="col-3">
                <input type="submit" class="btn btn-primary" value="Search" />
            </div>
            <div class="col-3">
                <input type="button" class="btn btn-primary" value="Print" />
            </div>
        </div>
    </form>
    <div class="row" id="transactions">
        @* Transaction list *@
    </div>
</div>
@section Scripts {
    <script>

    </script>
}
